.info-section-container {
  padding: 4rem 1rem;
}

.info-section-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
}

.info-text {
  h3 {
    font-size: 1.8rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1.5rem;
    line-height: 1.6;
  }

  ul {
    list-style: none;
    margin-bottom: 1.5rem;
    li {
      margin-bottom: 0.5rem;
    }
  }

  h4 {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

.map-container {
  width: 100%;
  height: 450px;
  border-radius: 8px;
  overflow: hidden; // Asegura que el iframe respete el borde redondeado

  iframe {
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-color);
    border-radius: 8px;
  }
}

@media (max-width: 992px) {
  .content-grid {
    grid-template-columns: 1fr; // Una sola columna en pantallas más pequeñas
  }
}

// Usamos un punto de quiebre más pequeño para apuntar específicamente a teléfonos
@media (max-width: 768px) {
  .map-container {
    // Reducimos la altura del mapa en dispositivos más pequeños
    height: 200px;
  }
}
