<div 
  *ngIf="service" 
  class="card-container" 
  [class.selected]="isSelected" 
  (click)="onToggle()">
  
  <!-- Header: Título y Botón de selección -->
  <div class="card-header-row">
    <h3 class="card-title">{{ service.name }}</h3>
    <app-icon-button 
      [selected]="isSelected" 
      (onClick)="onToggle()">
    </app-icon-button>
  </div>

  <p class="card-description">{{ service.description }}</p>
  
  <div class="card-footer">
    <span class="card-duration">🕒 {{ service.duration }} min</span>
    <span class="card-price">{{ service.price | currency:'COP':'symbol':'1.0-0' }}</span>
  </div>
</div>